body{
	background-color:#ffffff;
	margin: 0px;
	display: flex;
	flex-direction: column; /* creates rows out of the elements main and footer */
}


.titleHeader{
		/*center the text*/
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	
	
	height:100vh;
	width:100%;
	
	background:url('assets/images/code-background.png') center center / cover no-repeat;
		/*paralax effect*/
	background-attachment: fixed;
}

.title{
	color: #FFFFFF;
	font-size: 10vw;
}

.navbar{
	position: sticky;
	top:0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar a{

	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover{
	background-color: #111;
}




.projectlist {
  width: 300px;
  list-style-type: none;
  background-color: grey;
}

.projectlistitem {
  margin: 5px;
  padding: 5px;
  background-color: lightgrey;

}


li{
	float: left;
}


h1{
	font-family:'Oswald', sans-serif;
	font-size:120px;
	text-align:center;
}

footer{
	left: 0;
	margin-bottom: 0;
	width: 100%;
	background-color: #333;
	color: white;
	text-align: center;
}
